body {
    background: #191b1f;
    color: #eee;
}

h1 {
    line-height: 1.8em;
    text-indent: 2em;
    font-size: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
}

p {
    font-size: 120%;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    line-height: 1.8em;


    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    line-height:1.6666666667;
}

p.story-title {
    font-size: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    text-indent: 0;
}

.box {
    margin: 10px auto 1000px;
    max-width: 600px;
    padding: 40px;
}

p.bullet {
    font-size: 1.2em;
    text-indent: 0;
    width: 2em;
    line-height: 1em;
}

p.story-star {
    letter-spacing: 1em;
    line-height: 5em;
}


/* For smaller displays */
@media (max-width: 1025px) {
    p {

        font-size: 300%;
    }

    .box {
        max-width: inherit;
        padding: 40px;
    }




    p.bullet {
        font-size: 3em;
    }

    blockquote {
        text-align: left;
        width: 40%;
        font-size:0.7em;
        display: block;
        float: left;
        margin: 0 40px 0 -40px;
        background: #1f2228;
        color: #ccc;
    }

    blockquote.blockquote-right {
        float: right;
        text-align: right;
        margin: 0 -40px 0 40px;
    }

    blockquote p {
        margin: 50px 10px 50px 10px;
    }
}


