:root {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #fff;
    margin: 0;
}

#reader {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    word-wrap: break-word;
    min-height: 30px;
}

nav {
    margin: 0 auto;
    max-width: 600px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: calc(100vh - 52px);
}

@media (max-width: 1025px) {
    #reader {
        /*margin: 10px;*/
        /*max-width: inherit;*/
        padding: 0;
    }
}

h1 {
    font-size: 80px;
}

h1 {
    line-height: 1.8em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-indent: 2em;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.6666666667;
}

hr {
    border: none;
    text-align: center;
}

hr[data-val]::after {
    content: attr(data-val);
    letter-spacing: 24px;
}

.pagination {
    list-style: none;
    display: flex;
}

aside {
    text-align: right;
    width: 33%;
    display: block;
    float: left;
    margin: 0 40px 0 -40%;
    background: #1f2228;
    color: #ccc;
}

aside:nth-of-type(2n) {
    float: right;
    text-align: left;
    margin: 0 -40% 0 40px;
}

aside p {
    padding: 10px 10px 10px 5px;
    font-size: 0.9em;
    text-indent: 0em;
    margin: 5px 1px 5px 1px;
    font-family: monospace;
    letter-spacing: -0.7px;
}

aside:nth-of-type(2n) p {
    padding: 10px 5px 10px 10px;
}

nav a {
    background: #1f2228;
    color: #ccc;
    padding: 10px;
    margin: 5px 1px 5px 1px;
    flex-basis: 46%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6666666667;
    text-decoration: none;
}

nav a:nth-of-type(2n) {
    text-align: right;
}

nav span {
    margin: 0 10px;
}

@media (max-width: 1025px) {
    p {
        font-size: 24px;
    }

    h1 {
        font-size: 32px;
    }

    aside {
        display: inline-block;
        float: left;
        margin: 0 10px 0 -10px;
        width: 46%;
    }

    aside:nth-of-type(2n) {
        float: right;
        text-align: left;
        margin: 0 -10px 0 10px;
    }
}

#all {
    /*padding-top: 300vh;*/
    background-image: url('assets/stars-loop.png');
    background-attachment: fixed;
    background-size: cover;
}

#all {
    background: #141515;
}

@font-face {
    font-family: "Trickster";
    src:
            local("Trickster"),
            url("imperial-normal-500.ttf") format("opentype") tech(color-COLRv1),
}

p {
    padding: 0;
    border: 0;
    text-size-adjust: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-bottom: 0.78125rem;
    margin-top: 0;
    overflow-wrap: break-word;
    /*color: var(--color-content-secondary,#363636);*/
    color: #cccdcc;
    font-family: 'Trickster', nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.125rem;
    line-height: 1.7625rem;
    margin-left: 20px;
    margin-right: 20px;
    /*width: calc(100% - 40px);*/
    /*max-width: 600px;*/
}
